/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

:root {
  --main-color:#abc2ae;
}





body {
  background-color: var(--main-color);
  /* background-image: linear-gradient(black, #abc2ae); */
  background-repeat: no-repeat;
}

header nav {
  display: flex;
  position: relative;
  justify-content: center;
}

header nav :nth-child(1) {
  width: 2rem;
  height: 2rem;
  margin: 15px;
  position: absolute;
  left:0;
  top: 0;
  background-color: transparent;
  border: none;
  grid
}



header nav :nth-child(2) {
  margin-top: 15px;
  margin-left: 5px;
  width: 40%;
  position: relative;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 60px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
} 

ul li {
  height: 450px;
  width: 300px;
  margin-top: 20px;
  list-style-type: none;
}

ul li img {
  height: 100%;
  width: auto;
}

section {
  display: flex;
  flex-direction: column;
  color: white;
}

section section {
  justify-content: center;
  align-items: center;
  height: 350px;
  background-size: cover;
}

section section:nth-of-type(1) {
  background-image: url("/images/haarlemachtergrond.jpeg");
  
}

section section:nth-of-type(2) {
  background-image: url("/images/westachtergrond.jpeg");
}

section section:nth-of-type(3) {
  background-image: url("/images/oostachtergrond.jpeg");
}

section section:nth-of-type(4) {
  background-image: url("/images/zuidachtergrond.jpeg");
}