/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --main-color:#abc2ae;
}

body {
  background-color: var(--main-color);
  /* background-image: linear-gradient(black, #abc2ae); */
  background-repeat: no-repeat;
}

header nav {
  display: flex;
  position: relative;
  justify-content: center;
}

header nav :nth-child(1) {
  width: 2rem;
  height: 2rem;
  margin: 15px;
  position: absolute;
  left:0;
  top: 0;
}

header nav :nth-child(2) {
  margin-left: 5px;
  width: 40%;
  position: relative;
  text-align: center;
}