/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/

:root {
  --main-color:#abc2ae;
  --secondaryColor: #0f3935;
  --secondaryAltColor: #eedfc0;
  --tertiaryColor: #f27417;
}

html[data-theme='light'] {
  --main-color:#abc2ae;
  --secondaryColor: #0f3935;
  --secondaryAltColor: #eedfc0;
  --tertiaryColor: #f27417;
}

html[data-theme='dark'] {
  --main-color:#3f4941;
  --secondaryColor: #061615;
  --secondaryAltColor: #867d6a;
  --tertiaryColor: #96460e;
}

/******************************/
/* dark theme  */
/******************************/

[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}


/******************************/
/* Fonts  */
/******************************/

@font-face {
  font-family: myFirstFont;
  src: url("../assets/Buckerley.ttf");
}

/********************/
/* ALGEMENE STIJLEN */
/********************/


body {
  background-color: var(--main-color);
  /* background-image: linear-gradient(black, #abc2ae); */
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

/********************/
/* Header styling */
/********************/

header {
  position: relative;

}

header nav:nth-of-type(1) a img {
  width: 2em;
  margin-left: 2em;
}

header nav:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 1em;
}

header nav:nth-of-type(1) button {
width: 2.5em;
height: 2.5em;
background-color: transparent;
border: none;
}

header nav:nth-of-type(1)>img {
  width: 10em;
  justify-self: center;
}

header nav:nth-child(2) {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--secondaryColor);
  transition: width .3s;
}



/********************/
/* Menu  */
/********************/

header nav:nth-child(2).menu-open{
  z-index: 5;
  width: 65%;
  padding: 1.5em;
}

header section:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}

header section img:nth-of-type(1) {
  width: 24px;
}

header section img:nth-of-type(2) {
  width: 1.5em;
  height: 1.5em;
}

header nav h2 {
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 0.7em;
  letter-spacing: .35em;
}

header nav:nth-of-type(2) {
  color: white;
}

header nav ul:nth-of-type(2) li  {
  margin-bottom: 1em;
  font-size: 20px;
}

header nav ul:nth-of-type(2) li a {
  color: white;
  text-decoration: none;
}

header nav ul:nth-of-type(1) li a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-family: MyFirstFont;
}


header nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

header section:nth-of-type(2) {
  display: flex;
  align-items: center;
}

header section:nth-of-type(2) img:nth-of-type(1) {
  width: 25%;
}


/********************/
/* Eerste carrousel */
/********************/

main>ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 60px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  list-style: none;
  padding: 0;
  scroll-snap-type: x mandatory;
} 

main > ul li{
  width:calc(100vw - 40px) ;
  flex-shrink: 0;
  scroll-snap-align: center;
  height: 28em;
}


section ul:first-of-type li {
  height: 370px;
  list-style-type: none;
  justify-content: center;
  align-items: center;

}

main ul:first-of-type li img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/********************/
/* backgroundafbeeldingen */
/********************/

section ul li {
  display: flex;
  flex-direction: column;
}

section ul li a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

section ul li a h2 {
  color: white;
  font-size: 40px;
  font-family: myFirstFont;
  
}

section ul li:nth-of-type(1) {
  background-image: url("../images/haarlemachtergrond.jpeg");
  background-size: cover;
  
}

section ul li:nth-of-type(2) {
  background-image: url("../images/westachtergrond.jpeg");
  background-size: cover;
}

section ul li:nth-of-type(3) {
  background-image: url("../images/oostachtergrond.jpeg");
  background-size: cover;
}

section ul li:nth-of-type(4) {
  background-image: url("../images/zuidachtergrond.jpeg");
  background-size: cover;
}

/********************/
/* shop */
/********************/

main>section:nth-of-type(2) {
  text-align: center;
  margin-bottom: 3em;
}

main>section:nth-of-type(2) h2 {
  color: var(--secondaryColor);
  font-size: 4em;
  margin-top: 17px;
  font-family: myFirstFont;
}

main>section:nth-of-type(2) p {
  color: var(--secondaryColor);
  margin-right: 0;
  padding: 30px;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 550;
  margin-bottom: 1em;
}

main> section:nth-of-type(2) a {
  background-color: var(--tertiaryColor);
  color: white;
  padding: 1.5em;
  font-weight: 600;  
  text-decoration: none;
  border-radius: 2px;
}

/********************/
/* driepersonenfoto */
/********************/

main> img {
  height: 25em;
  object-fit: cover;
}

/********************/
/* grid */
/********************/

main> section:nth-of-type(3) {
  display: grid;
  grid-template-columns: 8em 8em 8em;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
} 

main> section:nth-of-type(3) img {
  height: 125px;
  width: 125px;
  object-fit: cover;
} 

/********************/
/* joinus */
/********************/

main>section:nth-of-type(4) {
  background-color: var(--secondaryColor);
  color: white;
  padding: 0.7em;
  text-align: center;
  height: 25em;
} 

main section:nth-of-type(4) h2 {
  font-weight: 400;
  font-size: 4em;
  margin-top: 17px;
  font-family: myFirstFont;
} 

main section:nth-of-type(4) p {
  text-align: center;
  margin-right: 0;
  padding: 30px;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 550;
} 

main section:nth-of-type(4) a {
  background-color: var(--tertiaryColor);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 550;
}

/********************/
/* footer */
/********************/

footer {
  position: relative;
  overflow: hidden;
}

footer nav {
  margin-left: 2em;
  margin-top: 2em;
}

footer nav img {
  width: 55%;
}

footer ul {
  list-style-type: none;
  font-family: MyFirstFamily;
}

footer h6 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 1em;
  margin-top: 4em;
  letter-spacing: .35em;
  color: white;
  font-weight: 500;
}

footer a {
  font-size: 20px;
  line-height: 1;
  margin: 1em 0;
  color: white;
  margin-bottom: 1em;
  text-decoration: none;
}

footer li {
  margin-bottom: 1em;

}

footer ul:nth-of-type(1) li {
  font-family: MyFirstFont;
}

footer ul:nth-of-type(1) li a {
  font-size: 30px;
}


footer>img {
  position: absolute;
  top: -200px;
  right: -80px;
  z-index: -1;
}


/********************/
/* Pagina 2 */
/********************/

#pagina2 h1 {
  text-align: center;
  color: white;
  font-family: myFirstFont;
  font-size: 4em;
}

#pagina2 main>section{
  color: white;
  background-color: var(--secondaryColor);
  padding: 1.5em;
}

#pagina2 main>section h2 {
    font-size: 12px;
    margin: 1em 0;
    text-transform: uppercase;
    letter-spacing: .35em;
}

#pagina2 main>section h3 {
  font-size: 40px;
  margin-bottom: 1em;

}

#pagina2 main>section p {
  font-size: 20px;
}

#pagina2 main>section:nth-of-type(2) {
  background-color: transparent;
}

#pagina2 main>section:nth-of-type(2) p {
  color: white;
  text-align: left;
  padding: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
}

/********************/
/* Pagina 2 dinner en drinks */
/********************/

#pagina2 main>section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 2em;
  align-items: center;
  position: relative;
}

#pagina2 main>section:nth-of-type(3) section {
  width: 100%;
  position: relative;
  height: 33em;
  display: grid;
}

#pagina2 main>section:nth-of-type(3) section img {
  width: 100%;
  height: 100%;

}

#pagina2 main>section:nth-of-type(3) section a {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  justify-self: center;
  background-color: var(--tertiaryColor);
  color: white;
  margin: 1em;
  padding: 1em;
  border-radius: 2px;
}


#pagina2 main>section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  text-align: left;
}

#pagina2 main>section:nth-of-type(4) p {
  text-align: left;
  margin-bottom: 1em;
  opacity: .5;
  font-size: 32px;
  padding: 0;
  font-weight: 600;
}

#pagina2 main>section:nth-of-type(4) h1 {
  text-align: left;
  
}

#pagina2 main>section:nth-of-type(4) h2 {
  text-align: left;
  margin-bottom: 1em;
  font-family: none;
  font-size: 15px;
}

/********************/
/* Pagina 2 random image */
/********************/

#pagina2 main img:nth-of-type(2) {

  height: 25em;
}

/********************/
/* Haarlem contact section */
/********************/

#pagina2 main>section:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
  align-items: center;
}

#pagina2 main>section:nth-of-type(5) h2 {
  font-size: 30px;
  font-family: MyFirstFont;
  color: var(--secondaryColor);
}

#pagina2 main>section:nth-of-type(5) p {
  color: var(--secondaryColor);
}

#pagina2 main>section:nth-of-type(5) a {
  color: white;
  padding: 1em;
  background-color: var(--tertiaryColor);
  text-decoration: none;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 40%;
}

/********************/
/* Pagina 2 join us */
/********************/

#pagina2 main section:nth-of-type(6) {
  background-color: var(--secondaryColor);
  color: white;
  padding: 0.7em;
  text-align: center;
  height: 23em;
} 

#pagina2 main section:nth-of-type(6) h2 {
  font-weight: 400;
  font-size: 4em;
  margin-top: 17px;
  font-family: myFirstFont;
} 

#pagina2 main section:nth-of-type(6) p {
  text-align: center;
  margin-right: 0;
  padding: 30px;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 550;
} 

#pagina2 main section:nth-of-type(6) a {
  background-color: var(--tertiaryColor);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 550;

}

#pagina2 main>section:nth-of-type(4) {
  height: 45em;
}


/********************/
/* form footer */
/********************/

footer form {
  text-align: center;
  margin-top: 2em;
  font-family: MyFirstFont;
  color: white;
  font-size: 2em;
}

input[type=text], select, textarea {
  width: 93%;
  padding: 12px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: var(--tertiaryColor);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 2em;
}

input[type=submit]:hover {
  background-color: rgb(177, 117, 6);
}

/********************/
/* ALGEMENE STIJLEN */
/********************/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	display:grid;
	grid-template-columns: minmax(auto, var(--maxWidth));
	justify-content:center;
}

h1 {
	margin:0;
	font-family: "saira condensed", sans-serif;
	font-size:clamp(2em, 10vw, 3.2em);
	font-weight: 300;
}

  
/******************************/
/* DE CAROCARROUSEL OP SANNE ZIJN MANIER */
/******************************/

.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
  --caroCarrouselAutoScrollInterval:4000;

  position: relative;
  overflow: hidden; /* om de linkbuttons te verbergen */
  outline:none;
  padding: 2em;
  height: 500px;
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
	/* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	
	/* indien het einde of het begin van de pagina bereikt is met scrollen */
	/* voorkomen dat de pagina gaat scrollen */
	overscroll-behavior: contain auto;
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 2em; right: 2em;
	bottom: 40px;
	margin: 0;
  padding: .25em;
  list-style: none;
	
	display: flex;
	flex-wrap:wrap;
  justify-content: center;
}

/* de bolletjes wrapper */
.caroCarrousel nav li {
  margin: .25em;
  padding: 0;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width: 0.5em;
  height: 0.5em;
  text-decoration: none;
	color: white;
  background-color: transparent;
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: white;
}

.caroCarrousel > nav a.current {
  background-color: white;
}




@keyframes carrouselAutoScrollingButton {
	0%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 0%, transparent 0%); }
	2%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 2%, transparent 0%); }
	4%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 4%, transparent 0%); }
	6%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 6%, transparent 0%); }
	8%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 8%, transparent 0%); }
	
	10%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 10%, transparent 0%); }
	12%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 12%, transparent 0%); }
	14%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 14%, transparent 0%); }
	16%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 16%, transparent 0%); }
	18%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 18%, transparent 0%); }

	20%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 20%, transparent 0%); }
	22%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 22%, transparent 0%); }
	24%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 24%, transparent 0%); }
	26%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 26%, transparent 0%); }
	28%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 28%, transparent 0%); }

	30%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 30%, transparent 0%); }
	32%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 32%, transparent 0%); }
	34%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 34%, transparent 0%); }
	36%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 36%, transparent 0%); }
	38%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 38%, transparent 0%); }

	40%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 40%, transparent 0%); }
	42%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 42%, transparent 0%); }
	44%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 44%, transparent 0%); }
	46%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 46%, transparent 0%); }
	48%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 48%, transparent 0%); }

	50%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 50%, transparent 0%); }
	52%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 52%, transparent 0%); }
	54%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 54%, transparent 0%); }
	56%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 56%, transparent 0%); }
	58%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 58%, transparent 0%); }

	60%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 60%, transparent 0%); }
	62%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 62%, transparent 0%); }
	64%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 64%, transparent 0%); }
	66%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 66%, transparent 0%); }
	68%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 68%, transparent 0%); }

	70%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 70%, transparent 0%); }
	72%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 72%, transparent 0%); }
	74%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 74%, transparent 0%); }
	76%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 76%, transparent 0%); }
	78%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 78%, transparent 0%); }

	80%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 80%, transparent 0%); }
	82%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 82%, transparent 0%); }
	84%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 84%, transparent 0%); }
	86%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 86%, transparent 0%); }
	88%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 88%, transparent 0%); }

	90%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 90%, transparent 0%); }
	92%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 92%, transparent 0%); }
	94%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 94%, transparent 0%); }
	96%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 96%, transparent 0%); }
	98%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 98%, transparent 0%); }
	
	100%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%); }
}